*  {
  font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: Red;
	color: White;
}


h1 {
  color: White;
  text-align: center;
}


p, 
li {
  font-size: 26px;
  text-align: center;
}


a {
  text-decoration: none;
}

